[submodule "tests/spec"]
	path = tests/spec
	url = https://github.com/WebAssembly/spec.git
[submodule "tests/wasm-spec-simd"]
	path = tests/wasm-spec-simd
	url = https://github.com/WebAssembly/simd.git
